# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.egg

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.so

# Test coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pylint
.pylint.d/

# Pyre type checker
.pyre/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Terraform
*.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# Logs
*.log
logs/

# Virtual environment
.venv/
env/
ENV/
venv/
env.bak/
env.d/
envs/

# IDEs
.vscode/
.idea/
*.sublime-workspace

# Streamlit cache files
.streamlit/
